    <% include ../partials/header %>

    <!-- PAGE HEADER -->
    <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center m-auto">
            <h1>Read Our Blog</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque, dolorem?
            </p>
          </div>
        </div>
      </div>
    </header>
    
    <!-- BLOG SECTION-->
    <section id="blog" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card-columns">
              <% blogs.forEach(function(blog){ %>
              <div class="card">
                <a href="/blogs/<%= blog._id %>">
                  <img class="img-fluid card-img-top" src="<%= blog.image %>" />
                </a>

                <div class="card-body">
                  <h4 class="card-title">
                    <a style="text-decoration:none; color: black;" href="/blogs/<%= blog._id %>"
                      ><%=blog.title%></a
                    >
                  </h4>
                  <small class="text-muted">Written By Bidyut On 04/18</small>
                  <div class="meta">
                    <span><%= blog.created.toDateString() %></span>
                  </div>
                  <hr />

                  <p class="card-text">
                    <a
                      style="text-decoration: none; color: #444;"
                      href="/blogs/<%= blog._id %>"
                      ><%- blog.body.substring(0, 100) %>...</a
                    >
                  </p>
                </div>
                <!-- card-body -->
              </div>
              <!-- card -->
              <% }) %>
            </div>
            <!-- card-column -->
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <% include ../partials/footer %>