<% include ../partials/header %>
<style>
    .navbar-inverse{
        margin-bottom:0;
    }
</style>

<div class="jumbotron">
    <div class="jumbo_content" id="jumbo_header">Sochlo</div>
    <p class="jumbo_content">a site where you think</p>
</div>
<div class="container">
    <% blogs.forEach(function(blog){ %>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="thumbnail">
                    <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                    <hr>
                    <img src="<%= blog.image %>" >
                </div>
            </div>
            
                
            <div class="col-md-7 col-sm-12">
                <div class="content">
                    <a class="header title" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                        <div class="meta">
                             <span><%= blog.created.toDateString() %></span>
                        </div>
                        
                        <div class="description">
                             <p><%- blog.body.substring(0, 300) %>...</p>
                        </div>
                        <div class="">
                             <a class="" href="/blogs/<%= blog._id %>">
                                <h6>Read More &raquo;</h6>
                             </a>
                        </div>
                </div>
            </div>
        </div>
        <hr>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>
