<% include ./partials/left-sidebar %>

      <article class="content">
        <div class="showcase">
          <div class="showcase__content">
            <h1 class="heading-primary">
              <% var post; %>
              <% blogs.forEach(blog => {post = blog}) %>
              <a class="showcase__content-link" href="/blogs/<%= post._id %>"><%= post.title %></a>
              
            </h1>
            <p class="heading-tertiary"><%= post.category %> <span> / <%= post.created.toDateString() %></span></p>
            <div class="showcase__content--img-box">
              <a href="/blogs/<%= post._id %>">
                <img
                  src="<%= post.image %>"
                  alt="main-image"
                  class="showcase__content--img"
                />
              </a>
            </div>
          </div>
          <!-- showcase__content -->

          <div class="showcase__sidebar">
            <ul class="showcase__sidebar--list">
              <% let i=0; blogs.forEach(blog => { %>
              <% if(i < 4) { %>
              <li class="showcase__sidebar--item">
                <h2 class="heading-secondary">
                  <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                </h2>
                <p class="heading-tertiary"><%= blog.author.username %></p>
                <hr />
              </li>
              <% } %>
              <% i++; }) %>
              <!-- item -->
            </ul>
            <!-- showcase__sideba--list  -->
          </div>
          <!-- showcase__sidebar -->
        </div>
        <!-- showcase -->
        <h1 class="heading-tetiary mb-sm">The Latest</h1>
        <hr class="mb-sm" />

        <section class="articles_section">
           <% let j=0; blogs.forEach(blog => { %>
            <% if(j < 4) { %>
          <div class="article">
            <div class="article__heading">
              <h1 class="heading-secondary mb-sm">
                <a href="/blogs/<%= blog.id %>"><%= blog.title %></a>
              </h1>
              <p class="small"><%= blog.category %></p>
              <p class="date"><%= blog.created.toDateString() %></p>
            </div>
            <div class="article__content">
              <p class="para">
                <a href="/blogs/<%= blog.id %>"><%- blog.body.substring(0, 500) %>...</a>
              </p>
            </div>
            <div class="article__img-box">
              <a href="/blogs/<%= blog.id %>"><img src="<%= blog.image %>" alt="article-img" class="article__img" /></a>
            </div>
          </div>
          <!-- article -->
          <hr class="mb-sm" />
          <% } %>
          <% j++; }) %>
        </section>
        <!-- -------------------- -->
      </article>
      
      <!-- content -->
      

<% include ./partials/right-sidebar %>