<% include ../partials/left-sidebar  %>
      <section class="content">
        <section class="post-header">
          <div class="post-header__heading">
            <h1 class="heading-primary mb-sm">
              <%= blog.title %>
            </h1>
            <p class="para"><%= blog.category %> <span> / <%= blog.created.toDateString() %></span></p>
          </div>

          <div class="post-header__img-box">
            <img src="<%= blog.image %>" alt="post-image" class="post-header__img" />
          </div>
        </section>

        <section class="post-content">
          <div class="post-content__article">
            <p><%- blog.body %></p>
          </div>
        </section>

        <h1 class="heading-tetiary mb-sm">Related</h1>
        <hr class="mb-sm" />

        <section class="article_section">
        <% let j=0; blogs.forEach(blog => { %>
          <% if(j < 2) { %> 
            <div class="article">
              <div class="article__heading">
                <h1 class="heading-secondary mb-sm">
                  <a href="/blogs/<%= blog.id %>"><%= blog.title %></a>
                </h1>
                <p class="small"><%= blog.category %></p>
                <p class="date"><%= blog.created.toDateString() %></p>
              </div>
              <div class="article__content">
                <p class="para">
                  <a href="/blogs/<%= blog.id %>"><%- blog.body.substring(0, 500) %></a>
                </p>
              </div>
              <div class="article__img-box">
                <a href="/blogs/<%= blog.id %>">
                  <img src="<%= blog.image %>" alt="article-img" class="article__img" />
                </a>
              </div>
            </div>
            <!-- article -->
            <hr class="mb-sm" />
          <% } %>
        <% j++; }) %>          
        </section>
      </section>

      
<%  include ../partials/right-sidebar %>